{% extends "base.html" %}

{%- block libs %}
    {%- if config.theme.highlightjs %}
        <script src="{{ 'assets/js/highlight.min.js'|url }}"></script>

        <!-- {%- for lang in config.theme.hljs_languages %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.5.0/languages/{{lang}}.min.js"></script>
        {%- endfor %} -->
        <script>hljs.initHighlightingOnLoad();</script>
    {%- endif %}
{%- endblock %}

{%- block styles %}
    <link rel="stylesheet" href="{{ 'assets/css/bootstrap.min.css'|url }}">
    <link rel="stylesheet" href="{{ 'assets/css/main.min.css'|url }}">

    {%- for path in extra_css %}
        <link href="{{ path }}" rel="stylesheet">
    {%- endfor %}

    {%- for path in extra_javascript %}
        <script src="{{ path }}"></script>
    {%- endfor %}

    {% if config.theme.theme_style %}
        {% if config.theme.theme_style == 'dark' %}
            <style>
                :root {
                    --text: white;
                    --title: white;
                    --primary: white;
                    --background: black;
                }
            </style>
        {% endif %}
    {% else %}
        {% if config.theme.colors %}
            {% if config.theme.colors.text %} <style>:root {--text: var(--color-{{ config.theme.colors.text }});}</style> {% endif %}
            {% if config.theme.colors.title %} <style>:root {--title: var(--color-{{ config.theme.colors.title }});}</style> {% endif %}
            {% if config.theme.colors.primary %} <style>:root {--primary: var(--color-{{ config.theme.colors.primary }});}</style> {% endif %}
            {% if config.theme.colors.background %} <style>:root {--background: var(--color-{{ config.theme.colors.background }});}</style> {% endif %}
        {% endif %}
    {% endif %}

{%- endblock %}