@font-face {
  font-family: 'Fira Code';
  src: url('assets/fonts/FiraCode-Regular.woff2') format('woff2'),
    url("assets/fonts/FiraCode-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: 'Fira Code',sans-serif;
}

.centered-image {
  display: block;
  margin: 1.0rem auto;
  max-width: 100%;
  height: auto;
}

.size75pct {
  width: 75%;
}
.size80pct {
  width: 80%;
}
